@import "src/styles/palette.dark.scss";

.profile-page{
    min-height: 100vh;
    color: $tertiary-color;
    background-color: rgb(222, 243, 246);
    &>.profile-title{
        padding-top: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 47vh;
        flex-direction: column;
    }
    & .profile-description{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $bg-color;
        width: 100%;
        &>.details{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            // background-color: rgb(104, 53, 2);
            background-image: url("/profile2.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 2rem;
            gap: 3rem;
            padding-top: 2rem;
            border: 5px solid $bg-color;
            padding: 2rem;
            margin-bottom: 2rem;
            &>.detail{
                display: flex;
                align-items: center;
                gap: 4rem;
                &>.user-detail{
                    &>label{
                        font-size: medium;
                        font-weight: 600;
                    }
                    &>.inner-box{
                        background-color: white;
                        width: 22rem;
                        min-height: 3rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $bg-color;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}