@import "src/styles/palette.dark.scss";


.categories-page{
    min-height: 100vh;
    color: $tertiary-color;
    &>.categories-title{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: "100vh";
        min-height: 100vh;
        background-color: rgb(222, 243, 246);
        flex-direction: column;
    }
    &>.categories-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        gap: 1rem;
    }
}