@import "src/styles/palette.dark.scss";

.product-carousel{
    position: relative;
    overflow: hidden;
    padding: 26px;
    &>.next-btn, &>.prev-btn{
        border: none;
        width: 60px;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $secondary-color;
        &>p{
            background-color: $secondary-color;
            font-size: 50px;
            color: white;
            box-shadow: 0px 0px 10px 1px $primary-color;
        }
    }
    &>.next-btn{
        right: 0;
    }

    &>.product-container{
        padding: 0 10px;
        display: flex;
        scroll-behavior: smooth;
    }
}

