@import "src/styles/palette.dark.scss";

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 25px;
  position: sticky;
  top: 0;
  color: $primary-color;
  background-color: $bg-color;

  &>.main {
    display: flex;
    justify-content: space-between;
    background-color: $bg-color;
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .8rem;
    border: 1px solid $primary-color;

    &>.center, &>.right {
      display: flex;
      gap: 1.5rem;
    }
  }
}